<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container">
  <div>
    <table style="width:100%">
      <tr>
        <td>
          <h1 style="color: crimson">Contact Our Customer</h1><br/>
          <h1>Support Center</h1>
        </td>
        <td><img src="../assets/MarvellousImage.jpeg"/></td>
      </tr>
    </table>
  </div>
  <form action="">
      <div style="text-align: center">
        <h3>Contact Information</h3>
        <h4>Please fill out your contact Information below</h4>
      </div>
      <div style="text-align:left">
          Name*<br/>
      </div>
      <table cellpadding=5>
        <tr>
          <td><input type="text" class="form-control" placeholder="First Name"></td>
          <td><input type="text" class="form-control" placeholder="Last Name"></td>
        </tr>
      </table>
      <br/>
      <div style="text-align:left">
          Email*<br/>
      </div>
      <input type="text" class="form-control" placeholder="Email ID"><br/>
      <div style="text-align:left">
          Phone*<br/>
      </div>
      <input type="text" class="form-control" placeholder="Phone"><br/>
      <div style="text-align:left">
          Address*<br/>
      </div>
      <input type="text" class="form-control" placeholder="Address"><br/>
      
  </form>
</div>

